@tailwind base;
@tailwind components;
@tailwind utilities;



.card1 {
    transition: all ease 0.3s;
}

.card1:hover {
    transform: scale(1.1);
}

.card2 {
    transition: all ease 0.3s;
}

.card2:hover {
    transform: scale(1.2);
}

header {
    background: url('https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}










.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-container {
    flex: 1;
}

.image {
    width: 100%;
    height: auto;
}

.text-container {
    flex: 1;
    padding: 0 20px;
}




html,
body,
#root,
.app,
.contentt {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex !important;
  position: relative !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}